.half-tag {
    display: inline-block;
    float: left;
    height: calc(29.7cm / 5);
    width: 50%;
}

.half-tag:nth-child(odd) .text-content{ 
    /* Position */
    left: 38px;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

.half-tag:nth-child(even) .text-content{ 
    /* Position */
    right: 38px;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.text-content { 
    position: relative;
    top: 36px;
    max-height: calc(21cm / 2);
    font-family: "Times New Roman", serif;
    text-align: center; 
    line-height: 0;
}

.text-content h3 {
    font-size: 28px;
}
.text-content h3.smaller {
    font-size: 24px;
}
.text-content p {
    font-size: 27px;
}
p.after-discount {
    font-size: 32px;
}

.before-discount { text-decoration: line-through; }