.inventory {
  padding: 0 10px;
	background: #abcdef;
	flex: 1;
	overflow-y: scroll;
}
.item-edit {
  margin-bottom: 20px;
  border: 2px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-edit input { width: 33.33%; }
.item-edit select { width: 66.66%; }
.item-edit input,
.item-edit select {
  padding: 10px;
  line-height: 1;
  /*font-size: 1.2rem;*/
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}
.item-edit input:focus,
.item-edit select:focus {
  outline: 0;
  background: #fef2de;
}
.item-edit select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}