.inventory {
  padding: 0 10px;
	background: #abcdef;
	flex: 1;
	overflow-y: scroll;
}
.login input, .login button {
  width: 80%;
}
input:required {
    box-shadow:none;
}
.login button {
  cursor: pointer;
}
.add-item-wrapper, .add-promotion-wrapper {    
  -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  border-top: 2px dashed #222;
  border-bottom: 2px dashed #222;
  margin: 20px 0;
}
.add-promotion-wrapper {
  padding-bottom: 20px;
}
.btn-logout {
  background: transparent;
  border: 0;
  margin-top: 20px;
  cursor: pointer;
}
.btn-logout:hover {
  color: #000;
}
.tabs__labels {
  list-style: none;
}
.tabs__labels > * {
  display: inline-block;
  margin-right: 5px;
}
.tabs__labels li button {
  border: none;
  border-bottom: 1px solid black;
  background: inherit;
  cursor: pointer;
}
.tabs__labels li button.active {
  border-bottom: 1px solid red;
}
.item-edit, .add-item {
  margin-bottom: 20px;
  border: 2px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-edit input, .add-item input { width: 33.33%; }
.item-edit input:nth-child(2), .add-item input:nth-child(2) { width: 66.6%; }
.item-edit select, .add-item select { width: 66.66%; }
.item-edit input,
.item-edit select,
.add-item input,
.add-item select,
.add-item button,
.add-promotion button,
.add-promotion input[type="number"],
.check-div,
.login input,
.login button {
  padding: 10px;
  line-height: 1;
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}
.login input, .login button, .add-promotion button {
  border-left: 1px solid #000;
}
.login input:first-of-type, .check-div {
  border-top: 1px solid #000;
}
.add-promotion input[type="number"] {
  border: 0;
}
.check-div {
  width: 50%;
  height: 36px;
}
.check-div {
  display: inline-block;
  position: relative;
  top: 8px;
  background: #fff;
  text-align: left;
}
.check-div > * {
  position: relative;
  bottom: 5px;
}
.percentage-input {
  background: #fff;
  display: inline-block;
  height: 36px;
  width: 50%;
  border: 1px solid #000;
}
.percentage-input input {
  border: 0;
}
.add-item button, .add-promotion button {
  width: 100%;
  cursor: pointer;
}
.add-item button:hover, .login button:hover, .add-promotion button:hover {
  background: #000;
  color: #FFF;
}
.item-edit input:focus,
.item-edit select:focus,
.add-item input:focus,
.add-item select:focus,
.login input:focus,
.add-promotion input:focus {
  outline: 0;
  background: #fef2de;
}
.item-edit select:-moz-focusring, .add-item select:-moz-focusring, .add-item button:-moz-focusring,
.add-promotion button:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}