.order {
	background: #ccc;
	flex: 1;
	overflow-y: scroll;
}
.order-list {
	list-style: none;
	text-align: left;
}
.order-list li > span {
  position: relative;
}
.order-list li button {
  font-size: 22px;
  border: 0;
  background: transparent;
  display: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
}
.order-list li:hover button {
  display: inline;
  background: #000;
  color: #fff;
}
button.print-button {
	border: none;
	background: transparent;
	cursor: pointer;
} 
button.print-button:focus {
	outline: none;
	outline-style: none;
	outline-width: 0;
}
button.print-button::-moz-focus-inner {
	border: 0;
}
button.print-button:hover {
	color: #000;
}

/* ANIMATION CSS */

.order-enter {
  transition: all 0.5s;
  transform: translateX(-120%);
  max-height: 0;
}

.order-enter.order-enter-active {
  max-height: 50px;
  transform: translateX(0);
}

.order-leave {
  transition: all 0.5s;
  transform: translateX(0);
  max-height: 50px;
}

.order-leave.order-leave-active {
  transform: translateX(120%);
  max-height: 0;
  padding: 0;
}

.count-enter {
  transition: all 0.25s;
  transform: translateY(100%);
}

.count-enter.count-enter-active {
  transform: translateY(0);
}

.count-leave {
  transition: all 0.25s;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: translateY(0);
}

.count-leave.count-leave-active {
  transform: translateY(-100%);
}