.half-tag {
    display: inline-block;
    float: left;
    height: calc(29.7cm / 5);
    width: 50%;
}

.half-tag:nth-child(odd) .text-content{ 
    /* Position */
    left: 1cm;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}

.half-tag:nth-child(even) .text-content{ 
    /* Position */
    right: 1cm;
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
}

.text-content { 
    position: relative;
    max-height: calc(21cm / 2);
    font-family: "Times New Roman", serif;
    text-align: center; 
    font-size: 24px;
    line-height: 0;
}

.before-discount { text-decoration: line-through; }