* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  width: 60px;
  margin-top: 20px;
}

.App-header {
  background-color: #222;
  height: 24vh;
  min-height: 100px;
  color: white;
}
.App-header h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.wrapper {
	margin: 0;
	padding: 0;
  height: 66vh;
	display: flex;
}

.App-footer {
    background-color: #222;
    height: 10vh;
    padding: 20px;
    color: white;
}

.pricetag-list {
    display: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* PRINT MEDIA QUERIES */

@page {
    size: A4;
    margin: 0;
}

@media print {

    html, body, .pricetag-list {
        width: 210mm;
        height: 297mm;
        display: initial;
        margin: 0;
        padding: 0;
    }
    .App-header, .wrapper, .App-footer { display: none; }
    /*.pricetag-list {
        display: initial;
        margin: 0;
        padding: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }*/

}
