* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  flex-basis: 100%;
  margin-top: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  height: 22vh;
  min-height: 100px;
  color: white;
}

.wrapper {
	margin: 0;
	padding: 0;
  height: 68vh;
	display: flex;
}

.App-footer {
    background-color: #222;
    height: 10vh;
    padding: 20px;
    color: white;
}

.pricetag-list {
    display: none;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* PRINT MEDIA QUERIES */

@page {
    size: A4;
    margin: 0;
}

@media print {

    html, body {
        width: 210mm;
        height: 297mm;
    }
    .App-header, .wrapper, .App-footer { display: none; }
    .pricetag-list {
        display: initial;
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

}
